<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-3.2.xsd">


    <!-- User -->

    <bean class="hannaeismant.m101j.user.UserDAOImplMongo"
          id="userDAO"
          init-method="init">
        <constructor-arg ref="mongoConfiguration"/>
    </bean>

    <bean class="hannaeismant.m101j.user.UserServiceImpl"
          id="userService">
        <constructor-arg ref="userDAO"/>
    </bean>


    <!-- Session -->

    <bean class="hannaeismant.m101j.session.SessionDAOImplMongo"
          id="sessionDAO"
          init-method="init">
        <constructor-arg ref="mongoConfiguration"/>
    </bean>

    <bean class="hannaeismant.m101j.session.SessionServiceImpl"
          id="sessionService">
        <constructor-arg ref="sessionDAO"/>
    </bean>

    <!-- Post -->

    <bean class="hannaeismant.m101j.post.PostDAOImplMongo"
          id="postDAO"
          init-method="init">
        <constructor-arg ref="mongoConfiguration"/>
    </bean>

    <bean class="hannaeismant.m101j.post.PostServiceImpl"
          id="postService">
        <constructor-arg ref="postDAO"/>
    </bean>


    <!-- Routing -->

    <bean class="hannaeismant.m101j.controllers.AbstractController"
          id="abstractRoute"
          abstract="true">
        <!--<property name="templateConfiguration" ref="templateConfiguration"/>-->
    </bean>

    <util:map id="routing">
        <entry key="/" value-ref="homeController"/>
        <entry key="/login" value-ref="loginController"/>
        <entry key="/signup" value-ref="signupController"/>
        <entry key="/logout" value-ref="logoutController"/>
        <entry key="/posts/create" value-ref="postCreateController"/>
        <entry key="/posts/:permalink" value-ref="postViewController"/>
    </util:map>

    <bean class="hannaeismant.m101j.controllers.HomeController"
          id="homeController"
          parent="abstractRoute">
        <constructor-arg index="0" ref="sessionService"/>
        <constructor-arg index="1" ref="postService"/>
    </bean>

    <bean class="hannaeismant.m101j.controllers.LoginController"
          id="loginController"
          parent="abstractRoute">
        <constructor-arg index="0" ref="sessionService"/>
        <constructor-arg index="1" ref="userService"/>
    </bean>

    <bean class="hannaeismant.m101j.controllers.SignupController"
          id="signupController"
          parent="abstractRoute">
        <constructor-arg index="0" ref="userService"/>
        <constructor-arg index="1" ref="sessionService"/>
    </bean>

    <bean class="hannaeismant.m101j.controllers.LogoutController"
          id="logoutController"
          parent="abstractRoute">
        <constructor-arg ref="sessionService"/>
    </bean>

    <bean class="hannaeismant.m101j.controllers.PostCreateController"
          id="postCreateController"
          parent="abstractRoute">
        <constructor-arg index="0" ref="sessionService"/>
        <constructor-arg index="1" ref="postService"/>
    </bean>

    <bean class="hannaeismant.m101j.controllers.PostViewController"
          id="postViewController"
          parent="abstractRoute">
        <constructor-arg ref="postService"/>
    </bean>


    <!-- Main configuration -->

    <bean class="hannaeismant.m101j.MongoConfiguration"
          id="mongoConfiguration"
          init-method="init">
        <constructor-arg value="${database.name}"/>
    </bean>

    <bean class="hannaeismant.m101j.SparkConfiguration"
          id="sparkConfiguration"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg ref="routing"/>
    </bean>

    <util:list id="templates" value-type="java.lang.String">
        <value>home</value>
        <value>login</value>
        <value>signup</value>
        <value>post_create</value>
        <value>post_view</value>
    </util:list>

    <!--<bean class="hannaeismant.m101j.TemplateConfiguration"-->
    <!--id="templateConfiguration"-->
    <!--init-method="init">-->
    <!--<constructor-arg index="0" value="\templates"/>-->
    <!--<constructor-arg index="1" ref="templates"/>-->
    <!--</bean>-->

    <bean id="configurationProperties"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:database.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"
          id="methodValidationPostProcessor"/>

    <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"
          id="validator"/>

</beans>
